/* Remove web border */
*{
  margin: 0;
  padding: 0;
}

.App{
  display: block;
  overflow:auto;
  position: absolute;
  background: #000000;
  width: 100%;
  height: 100%;
  z-index: -10;
}

/* NAVBAR */
.banner {
  position: absolute;
  background-image: linear-gradient(to bottom,         
  #ff0000, #940404);
  font-size: 24pt;
  border-color: rgb(0, 0, 0);
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  height: 5%;
  width: 100%;
  }

  .validAlert{
    position: absolute;
    padding: 20px;
    background-color: #940404;
    color: white;
    left: 30%;
    border: 3px solid #000000;
  }

  #logo{
    position: relative;
    left: 15px;
  }

  .navBarButtons{
    position: relative;
    top: -42px;
    left: 85%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border: none;
    margin-right: 2%;
    font-weight: bolder;
    color: #000000;
  }

  .navBarButtons:hover{
    color:#797979
  }

/*Homepage*/

#homepageDescription{
  position: relative;
  margin-top: 8%;
  left: 8%;
  width: 80%;
}

#mastheader{
  color:#b70404;
  font-size: 100px;
}

#mastheader2{
  color:#b70404;
  font-size: 100px;
}

#programDescription{
  color: rgb(234, 232, 232);
  font-size: 30px;
}

#homepageLoginButton{
  position: relative;
  font-size: 30px;
  font-weight: bold;
  top: 100px;
  left: 90%; 
  background-image: linear-gradient(to bottom,         
  #ff0000, #940404);
  padding: 10px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

/*LOGIN SCREEN */
#loginBanner{
  position: relative;
  top: -6%;
  left: -0.3%;
  text-align: center;
  font-size: 40px;
  height: 50px;
}

#loginScreen {
  position: absolute;
  left: 5%;
  top: 6.5%;
  width: 90%;
  height: 90%;
  background: rgb(255, 255, 255);
  font: black;
  z-index: -1;
}

#loginBox{
  position: absolute;
  left: 5%;
  top: 15%;
  width: 50%;
  height: 70%;
  background: rgb(216, 216, 216);
  color: black;
  z-index: 1;
}

#loginTextHeading{
  position: relative;
  font-size: 50px;
  top: 70px; 
  left: 40%;
}

.loginBoxText{
  position: relative;
  font-size: 35px;
  top: 100px; 
  left: 5%;
}

.loginInput{
  position: relative;
  font-size: 30px;
  top: 100px; 
  left: 5%;
  margin-top: 2%;
}

#email{
  left: 13%;
}

#loginButton{
  position: relative;
  font-size: 30px;
  top: 130px;
  left: 72.5%; 
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

/*GPD HOMEPAGE SCREEN */
#GPDHomepageScreen {
  position: absolute;
  left: 5%;
  top: 6.5%;
  width: 90%;
  height: 90%;
  background: rgb(255, 255, 255);
  font: black;
  z-index: -1;
}

/* Style The Dropdown Button */
.dropbtn, .GPDHomepageButton {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    left: 71.3%;  
    top: 1%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1500;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;

    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn{
    background-color: #343434;
  }

  .GPDHomepageButton:hover {
background-color: #343434;
}  
  .GPDHomepageButton{
    position: relative;
    top: 1%;
    left: 71.6%;
    margin-right: 0.3%;
  }

  /*ADD STUDENT SCREEN  */
  #addStudentForm {
    position: absolute;
    left: 15%;
    top: 6%;
    width: 69%;
    height: 90%;
    background: rgb(239, 239, 239);
    z-index: -1;
    font: black;
  }

#addStudentFormHeader{
  position: relative;
  left: 9%;
  top: 1%;
}

.addStudent_prompt{
  position: relative;
  grid-column: 1 / 2;
  margin-left: 9%;
  margin-top: 1%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.addStudent_input {
  position: relative;
  grid-column: 1 / 2;
  margin-top: 1%;
  margin-inline-end: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;  
  text-align:left;
  width: 40%;
}

#addStudentForm_submit_button{
  position: relative;
  font-size: 20px;
  height: 40px;
  left: 70%;
  background-color: #000000;
  color: white;
  padding: 3px;
}

#addStudentForm_cancel_button{
  position: relative;
  font-size: 20px;
  height: 40px;
  left: 72%;
  background-color: #000000;
  color: white;
  padding: 3px;
}

.dropdownSelect{
  position: relative;
  grid-column: 1 / 2;
  margin-top: 1%;
  margin-inline-end: 3px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;  
  text-align:left;
  width: 12%;
}

.dropdownSelectYear{
  position: relative;
  grid-column: 1 / 2;
  margin-top: 1%;
  margin-inline-end: 55px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;  
  text-align:left;
  width: 12%;
}

  /*VIEW STUDENT SCREEN  */
  #viewStudentFormBackground{
    position: absolute;
    background: #000000;
    width: 100%;
    z-index: -10;
  }
  
    #viewStudentForm {
      display: block;
      overflow:auto;
      position: absolute;
      left: 15%;
      top: 6%;
      width: 69%;
      background: rgb(239, 239, 239);
      z-index: -1;
      font: black;
    }
  
  #viewStudentFormHeader{
    position: relative;
    left: 9%;
    top: 1%;
  }
  
  .viewStudent_prompt{
    position: relative;
    grid-column: 1 / 2;
    margin-left: 9%;
    margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  .viewStudent_input {
    position: relative;
    grid-column: 1 / 2;
    margin-top: 1%;
    margin-inline-end: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
    text-align:left;
    width: 27%;
  }
  
  #viewStudent_suggestcourseplanbutton{
    position: relative;
    font-size: 18px;
    height: 40px;
    left: 53%;
    background-color: #000000;
    color: white;
    padding: 10px;
  }

  #viewStudentForm_edit_button{
    position: absolute;
    font-size: 18px;
    height: 40px;
    left: 79%;
    bottom: 4%;
    background-color: #000000;
    color: white;
    padding: 10px;
  }
  
  #viewStudentForm_return_button{
    position: absolute;
    font-size: 18px;
    height: 40px;
    left: 86%;
    bottom: 4%;
    background-color: #000000;
    color: white;
    padding: 10px;
  }

  .semesterTableHeader{
    position: relative;
    margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;  
    text-align:left;
    width: 60.8%;
    background-color: #000000;
    color: white;
  }

  .coursePlan{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
    text-align:left;
    width: 30%;
  }

  .commentTableHeaderDate{
    position: relative;
    margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;  
    text-align:left;
    width: 30%;
    background-color: #000000;
    color: white;
  }

  .commentTableHeaderComment{
    position: relative;
    margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;  
    text-align:left;
    width: 59.3%;
    background-color: #000000;
    color: white;
  }

  .commentsDate{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
    text-align:left;
    width: 30%;
  }

  .commentsComment{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
    text-align:left;
    width: 60%;
  }

  /* EDIT STUDENT SCREEN */
#departmentSelectEditStudent, #trackSelectEditStudent{
  width: 27%
}

#editStudent_addCommentbutton{
  position: relative;
  font-size: 18px;
  height: 40px;
  left: 59.5%;
  background-color: #000000;
  color: white;
  padding: 10px;
}

.deleteCommentButton{
  position: relative;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  width: 5%;
  height: 10%;
  background-color: #000000;
  color: white;
  text-align: center;
}

.addCommentButton{
  position: relative;
  width: 10%;
  height: 30px;
  background-color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

/* MODAL WINDOW */
#modal_background{
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background: transparent;
}

.modal{
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  border: #000000;
  border-radius: 2px;
  border-style: solid;
  text-align: center;
  font-size: 20px;
}

.modalButton{
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #000000;
  color: white;
  padding: 5px;
}

#importDegreeReqModal{
  top: 29%;
  left: 36%;
  padding-top: 20px;
  width: 25%; 
  height: 30%;
}

#courseInfoModal{
  top: 27%;
  left: 33%;
  padding-top: 20px;
  width: 35%; 
  height: 40%;
}

#semesterSelectCourseScrape{
  width: 100px
}

#scrapeCourseInfoDepartmentSelection{
  width: 210px;
}

#importCourseOfferingsModal{
  top: 29%;
  left: 36%;
  padding-top: 20px;
  width: 25%; 
  height: 30%;
}

#importStudentDataModal{
  top: 27%;
  left: 33%;
  padding-top: 20px;
  width: 35%; 
  height: 40%;
}

#importGradesModal{
  top: 29%;
  left: 36%;
  padding-top: 20px;
  width: 25%; 
  height: 30%;
}

#deleteAllStudentsModal{
  top: 32%;
  left: 36%;
  padding-top: 20px;
  width: 25%; 
  height: 20%;
}

#addStudentModal{
  top: 38%;
  left: 36%;
  padding-top: 20px;
  width: 25%; 
  height: 20%;
}

#cancelAddStudentModal{
  top: 38%;
  left: 36%;
  padding-top: 20px;
  width: 25%; 
  height: 20%;
}

#fileToImport{
  position: relative;
  left: 10%;
  margin-bottom: 2%;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

#editStudent{
  top: 35%;
  left: 36%;
  width: 25%; 
  height: 20%;
}

